body{
    font-family: arial, sans-serif;
}

h1#title{ 
    font-family: 'Yanone Kaffeesatz', arial, serif; 
    font-size:62px;
    text-align:right;
}
h2#sub-title{
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:28px;
    text-align:right;
}

.twtr-ft{
    display:none;
}

#menu{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
}

#menu a:link,
#menu a:hover,
#menu a:visited{
    font-family: 'Yanone Kaffeesatz', arial, serif; 
    font-size:22px;
    color: #555;
    font-weight:bold;
    text-decoration: none;
    padding: 0px 10px;
    margin-bottom:10px;
    display:block;
}

p{
    line-height:140%;
}
